<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <meta charset="utf-8">
    <title>Hola</title>
  </head>
  <body>
  <div class="wrapper">
    <nav>
      <h1> Hola </h1>
      <div class="login">
        <a href="/auth">
          <img src="images/user.svg">
          {{status}}
        </a>
      </div>
    </nav>
    <div class="product-section">
    {{#if product}}
        {{#each product}}
        <div class="product-wrapper">
          <div class="product-img">
            <img src="{{this.url}}">
          </div>
          <div class="product-name">
            <span>{{this.name}}</span>
          </div>
          <div class="product-price">
            <span>{{this.price}}</span>
          </div>
        </div>
        {{/each}}
      {{else}}
      <div class="product-wrapper">
        <div class="product-empty">
          <div class="product-button">
            <a href="/agregar">
              Agregar productos
            </a>
          </div>
          <a href="/agregar">
            <img class="icon" src="images/add.svg">
          </a>
        </div>
      </div>
    {{/if}}
    </div>
  </div>
    <script
src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
  </body>
</html>
